#vtab-sidebar {
    width           : 10px;
    height          : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-color: #ccc;
    z-index         : 9999;
    transition      : width 0.3s;
}

#vtab-sidebar ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

#vtab-sidebar li {
    padding: 5px;
    cursor : pointer;
}

#vtab-pin {
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 30px;
    height          : 30px;
    background-color: #888;
    text-align      : center;
    line-height     : 30px;
    cursor          : pointer;
}